.kids-wrapper {
    .kb-1 {
        background-image: linear-gradient(220deg, #f06966, #fad6a6);
        .km-1 {
            margin-top: 33px;
            .k-1 {
                strong {
                    background-image: linear-gradient(145deg, #f06966, #fad6a6);
                }
            }
        }
    }
    .kb-2 {
        background-image: linear-gradient(220deg, #ff0076, #590fb7);
        .km-2 {
            margin-top: 33px;
            .k-2 {
                strong {
                    background-image: linear-gradient(220deg, #ff0076, #590fb7);
                }
            }
        }
    }
    .kb-3 {
        background-image: linear-gradient(220deg, #737dfe, #ffcac9);
        .km-3 {
            margin-top: 24px;
            .k-3 {
                strong {
                    background-image: linear-gradient(220deg, #737dfe, #ffcac9);
                }
            }
        }
    }
    .kb-4 {
        background-image: linear-gradient(220deg, #2f80ed, #b2ffda);
        .km-4 {
            margin-top: 25px;
            .k-4 {
                strong {
                    background-image: linear-gradient(220deg, #2f80ed, #b2ffda);
                }
            }
        }
    }
    .kb-5 {
        background-image: linear-gradient(220deg, #f40076, #342711);
        .km-5 {
            margin-top: 39px;
            .k-5 {
                strong {
                    background-image: linear-gradient(220deg, #f40076, #342711);
                }
            }
        }
    }
    .kb-6 {
        background-image: linear-gradient(220deg, #402565, #30be96);
        .km-6 {
            margin-top: 32px;
            .k-6 {
                strong {
                    background-image: linear-gradient(220deg, #402565, #30be96);
                }
            }
        }
    }
    .kb-7 {
        background-image: linear-gradient(220deg, #cb5eee, #4be1ec);
        .km-7 {
            margin-top: 26px;
            .k-7 {
                strong {
                    background-image: linear-gradient(220deg, #cb5eee, #4be1ec);
                }
            }
        }
    }
    .kb-8 {
        background-image: linear-gradient(220deg, #d6ff7f, #00b3cc);
        .km-8 {
            margin-top: 32px;
            .k-8 {
                strong {
                    background-image: linear-gradient(220deg, #d6ff7f, #00b3cc);
                }
            }
        }
    }
    .kb-9 {
        background-image: linear-gradient(220deg, #ff6800, #e233ff);
        .km-9 {
            margin-top: 35px;
            .k-9 {
                strong {
                    background-image: linear-gradient(220deg, #ff6800, #e233ff);
                }
            }
        }
    }
}

.kids-one {
    background-image: linear-gradient(220deg, rgb(2, 150, 93), rgb(255, 255, 255));
}

.kids-two {
    background-image: linear-gradient(220deg, #f06966, #fad6a6);
    .kids-color {
        .kidf {
            color: #402565;
            strong {
                background-color: #402565;
            }
        }
        .kids {
            color: #30be96;
            strong {
                background-color: #30be96;
            }
        }
        .kidt {
            color: #ff6b00;
            strong {
                background-color: #ff6b00;
            }
        }
    }
}