/*woman slider*/

.woman-wrapper {
    .wb-1 {
        background-color: pink;
        .wm-1 {
            margin-top: 33px;
            .w-1 {
                strong {
                    background-color: pink;
                }
            }
        }
    }
    .wb-2 {
        background-color: rgb(18, 219, 202);
        .wm-2 {
            margin-top: 11px;
            .w-2 {
                strong {
                    background-color: rgb(18, 219, 202);
                }
            }
        }
    }
    .wb-3 {
        background-color: rgb(52, 97, 10);
        .wm-3 {
            margin-top: 39px;
            .w-3 {
                strong {
                    background-color: rgb(52, 97, 10);
                }
            }
        }
    }
    .wb-4 {
        background-color: rgb(170, 172, 168);
        .wm-4 {
            margin-top: 33px;
            .w-4 {
                strong {
                    background-color: rgb(170, 172, 168);
                }
            }
        }
    }
    .wb-5 {
        background-color: rgb(224, 145, 26);
        .wm-5 {
            margin-top: 40px;
            .w-5 {
                strong {
                    background-color: rgb(224, 145, 26);
                }
            }
        }
    }
    .wb-6 {
        background-color: rgb(244, 83, 59);
        .wm-6 {
            margin-top: 26px;
            .w-6 {
                strong {
                    background-color: rgb(244, 83, 59);
                }
            }
        }
    }
    .wb-7 {
        background-color: rgb(167, 97, 92);
        .wm-7 {
            margin-top: 32px;
            .w-7 {
                strong {
                    background-color: rgb(167, 97, 92);
                }
            }
        }
    }
    .wb-8 {
        background-color: rgb(15, 172, 161);
        .wm-8 {
            margin-top: 42px;
            .w-8 {
                strong {
                    background-color: rgb(15, 172, 161);
                }
            }
        }
    }
    .wb-9 {
        background-color: rgb(255, 147, 94);
        .wm-9 {
            margin-top: 42px;
            .w-9 {
                strong {
                    background-color: rgb(255, 147, 94);
                }
            }
        }
    }
}


/*woman section one*/

.woman-one {
    background-color: papayawhip;
}


/*woman section two*/

.woman-two {
    background-color: pink;
    .woman-color {
        .pink {
            color: rgb(220, 128, 143);
            strong {
                background-color: rgb(220, 128, 143);
            }
        }
        .purple {
            color: plum;
            strong {
                background-color: plum;
            }
        }
        .khaki {
            color: peachpuff;
            strong {
                background-color: peachpuff;
            }
        }
    }
}